**/target

# Don't add the generated MDBook artifacts
docs/book/

.dockerignore
*.swp
*.db
*.db*

# Add this to your global .gitignore but whatever
.DS_Store

# Don't add test WASM blobs, CI generates them on their own
*.wasm