<!DOCTYPE html>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">

<body>
    <main class="container">
        <div id="header">
            <h1>Example Dashboard</h1>
        </div>

        <div id="transfer-list"></div>
        <script src="https://unpkg.com/react@18/umd/react.production.min.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js" crossorigin></script>
        <script src="transfer_list.js"></script>
    </main>
</body>

</html>